@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

/*
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.herader{
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-color: #F5F5F5;
    padding: 70px 0;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 25px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li a {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #111111;
    display: block;
}

#menu{
    display: none;
}

.menu-icono {
    width: 25px;
}
body {
    background-image: url("Fondo\ Market.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  