.container {
    width: 90%;
    margin: 0 auto;
}

.header {
    background-color: #fff; 
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    color: black; 
    text-decoration: none;
    font-size: 1.5em;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: black; 
    font-size: 1.2em;
}
/* Estilos para el logotipo y el menú de navegación */
.logo-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
}

.logo {
    width: 200px; /* Ancho del logotipo */
    height: auto; /* Altura automática para mantener la proporción */
}

/* Estilos para las ofertas especiales */
.special-offers {
    text-align: center; /* Centra horizontalmente */
    font-size: 40px; /* Tamaño de la fuente más grande */
    margin-top: 36px; /* Espacio superior */
}

.gray-background {
    background-color: blue; /* Color gris que desees */
}



