/* Estilos generales del contenedor */
.container {
    width: 90%;
    margin: 0 auto;
}

/* Estilos para la cabecera */
.header {
    background-color: #fff; /* Fondo blanco o cualquier otro color de fondo deseado */
}

/* Estilos para el menú */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

/* Estilos para el logotipo y el menú de navegación */
.logo {
    color: black; /* Asegúrate de que el logo tenga el color deseado */
    text-decoration: none;
    font-size: 1.5em;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: black; /* Cambia el color del texto a negro */
    font-size: 1.2em;
}

/* Estilos adicionales para responsividad o interactividad pueden ser añadidos aquí */
